div.DTE_Field_Type_tcg_toggle div.DTE_Field_Input .switch {
    position: relative;
    display: inline-block;
    width: 60px !important;
    height: 34px;
    margin: 0;
}

div.DTE_Field_Type_tcg_toggle div.DTE_Field_Input .switch input {
    display: none;
}

div.DTE_Field_Type_tcg_toggle div.DTE_Field_Input .switch .slider.round {
    border-radius: 34px;
}

div.DTE_Field_Type_tcg_toggle div.DTE_Field_Input .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

div.DTE_Field_Type_tcg_toggle div.DTE_Field_Input .switch .slider.round:before {
    border-radius: 50%;
}

div.DTE_Field_Type_tcg_toggle div.DTE_Field_Input .switch .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
}

div.DTE_Field_Type_tcg_toggle div.DTE_Field_Input .switch input:checked+.slider {
    background-color: var(--blue);
}

div.DTE_Field_Type_tcg_toggle div.DTE_Field_Input .switch input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

div.DTE_Field_Type_tcg_toggle div.DTE_Field_Input .switch.readonly .slider {
    cursor: default;
}

div.DTE_Field_Type_tcg_toggle div.DTE_Field_Input .switch.readonly input:checked+.slider {
    background-color: #ccc;
}

div.DTE_Field_Type_tcg_toggle div.DTE_Field_Input .switch.readonly input:checked+.slider.round:before {
    background-color: var(--blue);
}

div.DTE_Bubble .DTE_Field_Type_tcg_toggle label[data-dte-e="label"] {
    -ms-flex: 0 0 66.666667% !important;
    flex: 0 0 66.666667% !important;
    max-width: 66.666667% !important;
}

div.DTE_Bubble .DTE_Field_Type_tcg_toggle div[data-dte-e="input"] {
    -ms-flex: 0 0 33.333333% !important;
    flex: 0 0 33.333333% !important;
    max-width: 33.333333% !important;
    text-align: right !important;
}
