div.DTE_Field_Type_tcg_table .DTE_Label {
    width: 100% !important;
}

div.DTE_Field_Type_tcg_table div.DTE_Field_Input {
    float: none !important;
    clear: both !important;
    width: 100% !important;
}

div.DTE_Field_Type_datatable div.dataTables_wrapper > table {
    border: 1px solid #ced4da;
    border-radius: 3px;
}  

.dt-editor-table {
    width: 100%;
    padding-right: 7.5px;
    padding-left: 7.5px;
    padding-top: 8px;
    overflow-x: auto;
}

.DTE_Field_Type_tcg_table_select .btn-select {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.dt-editor-table table {
    border-bottom: 1px solid #ced4da;
}

/** OPTION DROPDOWN **/
.select2-container .select-option-level-1 {
	padding-left: 0px !important;
}

.select2-container .select-option-level-2 {
	padding-left: 12px !important;
}

.select2-container .select-option-level-3 {
	padding-left: 24px !important;
}

.select2-container .select-option-level-4 {
	padding-left: 36px !important;
}

.select2-container .select-option-level-5 {
	padding-left: 48px !important;
}

.select2-container .select-option-group {
	font-weight: bold !important;
	color: black;
}
/** END OPTION-DROPDOWN **/
